@import './variables.css';

:root {
	color: var(--font-primary);
}

* {
	font-family: 'Open Sans', sans-serif;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: purple; */
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--black);
}
a:hover {
	color: var(--link);
}
a:focus {
	outline-offset: 4px;
	outline: 2px solid var(--link-outline);
}

.horizontal-container > * + * {
	margin-inline-start: var(--gap);
}
.vertical-container > * + * {
	margin-block-start: var(--gap);
}
